mixin statusBanner(bgColor, status, iconUrl)
  table(style=`background-color: ${bgColor}; width: 100%; border-radius: 12px; height: 80px`)
    tr
        td(style="padding-right: 8px; vertical-align: middle;font-size: 1.25rem; font-weight: 700;color: #1A1A1A; text-align: center")
            img(src=iconUrl alt=status width="48" height="48" style="vertical-align: middle; margin-right: 16px") 
            span #{status}
    