- var bsrPrimaryColor = "#E5B22C";
- var applicationReceivedBannerBackgroundColor = "#FFF8EC";
- var applicationApprovedBannerBackgroundColor = "#ECF8F1";

-
  var getPrimaryColor = function(){
    return primaryColor || bsrPrimaryColor
 }

-
  var formatPrice = function(price) {
    if (price === undefined || price === null) {
      return null
    }

    var fixedPrice = price.toFixed(2);
    var parts = fixedPrice.split('.');
    var dollars = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    var cents = parts[1];
    return {
      dollars,
      cents
    };
  }

-
  var getStatusBannerBackgroundColor = function(status) {
      switch (status) {
          case 'READY_TO_REVIEW':
              return applicationReceivedBannerBackgroundColor;
          case 'APPROVED':
              return applicationApprovedBannerBackgroundColor;
          default:
              return "#FFFFFF"; 
      }
  }

-
  var getStatusLabel = function(status) {
      switch (status) {
          case 'READY_TO_REVIEW':
              return 'Ready to Review';
          case 'APPROVED':
              return 'Approved';
          default:
              return status;
      }
  }