extends layouts/base
include ./mixins/index.pug
block content
  include layouts/header
  include ./variables/variables.pug
  tr
     td(style="height: auto; background-color: #ffffff; padding: 40px 40px 64px; vertical-align: top;")
        h2(style="padding: 0; font-size: 2rem; line-height: 3rem; font-weight: 700; margin: 0 0 40px 0;") Application Received!
        +statusBanner(applicationReceivedBannerBackgroundColor, riskStatus, bannerLogo)
        p(style="padding: 0; font-size: 1.25rem; line-height: 1.875rem; margin-bottom: 40px; margin-top: 40px;") An application is now 
          span(style="font-weight: 600") #{riskStatus}
        include layouts/widget
          block widget_content
            +riskInfo(insuredName, riskNumber)
            if Object.keys(agentDetails).length > 0
              span(style=`display: block; height: 4px; background-color: ${getPrimaryColor()}; opacity: .3; margin-top: 24px;`)
              +agentDetails(agentDetails)
            if coverages.length > 0
              +coverages(coverages)
        +button(viewRiskLink, "View risk")
  include layouts/footer