extends layouts/base
include ./mixins/index.pug
block content
  include layouts/header
  include ./variables/variables.pug
  tr
    td(style="height: auto; background-color: #ffffff; padding: 40px 40px 64px; vertical-align: top;")
        h2(style="padding: 0; font-size: 2rem; line-height: 3rem; font-weight: 700; margin-bottom: 40px;") Your risk has been approved!
        +statusBanner(applicationApproveddBannerBackgroundColor, riskStatus, bannerLogo)
        include layouts/widget
          block widget_content
            +riskInfo(insuredName, riskNumber)
            if Object.keys(agentDetails).length > 0
              span(style=`display: block; height: 4px; background-color: ${getPrimaryColor()}; opacity: .3; margin-top: 24px;`)
              +agentDetails(agentDetails)
            if coverages.length > 0
              +coverages(coverages, true)
        +button(viewQuoteLink, "View my quote")
  include layouts/footer